@model Student
@{
    SelectList departments = new SelectList(ViewBag.depts, "Id", "Name");
   SelectList grades = new SelectList(new List<int> { 1, 2, 3, 4 });
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <form action="/Student/Save" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Grade"></label>
            <select asp-for="Grade" asp-items="@grades" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentId"></label>
            <select class="form-control" asp-for="DepartmentId" asp-items="@departments"></select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</body>
</html>