<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Grade</th>
            
        </tr>
    </thead>
    
    <tbody>
        
            @foreach (var Student in Model)
        {
            <tr>
                <th scope="row">@Student.Id</th>
                <td>@Student.Name</td>
                <td>@Student.Address</td>
                <td>@Student.Grade</td>
            </tr>
            }

        
        
    </tbody>
</table>