@model Instructor

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/pin3.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Name :: @Model.Name</h5>
        <p class="card-text">Salary :: @Model.Salary</p>
        
    </div>
</div>
<br />
<br />
<br />
<a asp-action="GetAll" asp-controller="Instructor" class="btn btn-default">Back to List</a>

